<section class="section">
  <div class="container">
    <div class="about">
      <div class="about-wrapper">
        <div class="about-list">
          <div>
            <img
              class="about-item-first"
              src="./images/imgAbout1.jpg"
              alt="build"
              width="270"
            />
            <img src="./images/imgAbout2.jpg" alt="build" width="270" />
          </div>
          <img
            class="about-item-last"
            src="./images/imgAbout3.jpg"
            alt="build"
            width="270"
          />
        </div>
        <div class="about-box-descript">
          <h2>О компании</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.
          </p>
          <button type="button">
            <a class="swiper-btn-link" href="./index.html">
              читать
              <svg class="swiper-btn-icon" width="24" height="24">
                <use href="./images/icons.svg#arrow-left"></use>
              </svg>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
