<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="logo" href="./index.html">
        <svg class="footer-soc-icon" width="70" height="44">
          <use href="./images/icons.svg#logo"></use>
        </svg>
      </a>
      <ul class="header__menu">
        <li class="menu__item">
          <a class="menu__link" href="./index.html">главная</a>
        </li>
        <li class="menu__item"><a class="menu__link" href="#">галерея</a></li>
        <li class="menu__item"><a class="menu__link" href="#">проекты</a></li>
        <li class="menu__item">
          <a class="menu__link" href="#">сертификаты</a>
        </li>
        <li class="menu__item"><a class="menu__link" href="#">контакты</a></li>
      </ul>
    </nav>
  </div>
</header>
